<h2><%=@user.name%>'s Questions</h2>

<% @questions.each do |q| %>
	<a href= "/questions/<%=q.id%>/answers"><%= q.description %></a>
	<br>
<%end%>

<!-- <button>questions</button>
<button>answers</button> -->