<% if @user %>
	<a href='/users/<%= @user.id %>'><button>My Profile</button></a>	
<% end %>

<form action="/logout", method="get">
	<input type="submit" value="Logout">
</form>


<h1>list questions_index here</h1>

<% @questions.each do |q| %>
	<p><%= q.description %></p>
	<p>User: <%= q.user.name %></p>
<%end%>